.root {
  position: relative;
  left: -120px;
  @media (max-width: 1300px) {
    margin-left: 120px;
  }
  @media (max-width: 1080px) {
    margin-left: 120px;
  }
  @media (max-width: 1080px) {
    .input {
      width: 250px;
    }
  }
}

.input {
  @media (max-width: 825px) {
    display: none;
  }
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 400px;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 42px;
  & :focus {
    margin-left: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.icon {
  @media (max-width: 825px) {
    display: none;
  }
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 12px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
